<div class="pageContent" fxLayout="row">
  <div class="leftSideBar">
    <app-left-sidebar
      [username]="profileViewModel.selfUsername"
      [levelCompleted]="profileViewModel.selfLevelCompleted"
      [levelName]="profileViewModel.selfLevelName"
      [profileImage]="profileViewModel.selfProfileImage"
      [rewards]="profileViewModel.selfRewards"
      (onProfileClick)="openProfilePage()"
      (onFavoritesClick)="openFavoritesPage()"
      (onSettingsClick)="openSettingsPage()"
      (onLogoutClick)="logout()"
    >
    </app-left-sidebar>
  </div>
  <div class="pageCenter">
    <app-toolbar
      (homeClickEvent)="openHomePage()"
      (searchClickEvent)="openSearchPage()"
      (newPostClickEvent)="openNewPostPage()"></app-toolbar>
    <div class="content">
      <div class="profileResume">
        <div class="profileMainInfo">
          <profile-pic class="profileMainPic" [avatar]="profileViewModel.userProfileImage"></profile-pic>
          <div class="profileName">
            <div class="profileUserName">
              {{profileViewModel.userName}}
            </div>
            <div class="profileUserLevel">
              <div class="chipLevel">
                {{profileViewModel.userLevelName}}
              </div>
            </div>
          </div>
          <div fxLayout="column">
            Conquistas
            <div class="rewardsList">
              <img class="chipIcon" *ngFor="let index of profileViewModel.userRewardsIndexes"
                   src="{{profileViewModel.userRewards[index].icon}}"
                   alt="{{profileViewModel.userRewards[index].name}}"
                   matTooltip="{{profileViewModel.userRewards[index].name}}"/>
            </div>
          </div>
        </div>
        <div class="interests">
          <mat-chip-list class="listTopic" fxLayout="row">
            <mat-chip color="primary" class="chipTopic" *ngFor="let index of profileViewModel.userTopicsKeysIndexes"
                      title="{{profileViewModel.userTopicsKeys[index]}}">
              {{profileViewModel.userTopicsKeys[index]}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div *ngFor="let topicName of profileViewModel.topicsKeys">
        <app-topic-articles
          [topicName]="topicName"
          [articles]="profileViewModel.topicsList.get(topicName)">
        </app-topic-articles>
      </div>
    </div>
  </div>
</div>
