.pageCenter {
  background: whitesmoke;
}

.content {
  flex-direction: column;
  align-self: center;
  max-width: 68%;
}

.profileResume {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  height: 15em;
}

.profileMainInfo {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}

.profileMainPic {
  display: flex;
  flex: 1em;
  align-self: center;
  min-width: 8em;
}

.profileMainPic{
  margin-bottom: 1.5em;
}

.profileName {
  flex: 5em;
  align-self: center;
}

.profileUserName {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  font-size: 2.5vw;
}

.profileUserLevel {
  display: flex;
  flex-direction: row;
}

.interests {
  display: flex;
  flex: 4em;
}

.rewardsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.5em;
}

.chipIcon{
  border-radius: 50%;
  margin: 0.3em;
  width: 2.5em;
  height: 2.5em;
}

@media screen and (max-width: 1460px){
  .profileUserName {
    font-size: 3.5vw;
  }

  .content {
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .chipIcon{
    width: 2em;
    height: 2em;
    margin-top: 0;
    line-height: 10px;
  }

  .profileMainInfo {
    flex: 1 1 10%;
  }

  .profileMainPic{
    margin-bottom: 0;
  }
}
