.viewMore mat-icon{
    align-self: center;
    font-size: 60px
}

.listPostResult, .listUserResult {
  flex-wrap: wrap;
  justify-content: flex-start;
}

/**
TODO: centralizar os resultados
 */
.tabContent {
  justify-content: center;
}
