<div class="topicName">
  {{ topicName }}
</div>
<div class="listArticles" fxLayout="row">
  <div *ngFor="let index of articleIndexes">
    <app-card
      [title]="articles[index].title"
      [thumbnail] = "articles[index].articleImage"
      [avatar] = "articles[index].authorImage"
      [subtitle] = "articles[index].author"
      [starCount] = "articles[index].likes"
      [favCount] = "articles[index].favorites"
      [actionName] = "articles[index].publishDate"
    >
    </app-card>
  </div>
  <!-- <div class="viewMore">
      <mat-icon>keyboard_arrow_right</mat-icon>
  </div> -->
</div>
