<div class="pageContent" fxLayout="row">
  <div class="leftSideBar" fxLayout="column" fxFlex="16%">
    <app-left-sidebar
      [username]="postViewModel.username"
      [levelCompleted]="postViewModel.levelCompleted"
      [levelName]="postViewModel.levelName"
      [profileImage]="postViewModel.profileImage"
      [rewards]="postViewModel.rewards"
      (onProfileClick)="openProfilePage()"
      (onFavoritesClick)="openFavoritesPage()"
      (onSettingsClick)="openSettingsPage()"
      (onLogoutClick)="logout()"
    >
    </app-left-sidebar>
  </div>
  <div class="pageCenter" fxLayout="column" fxFlex="84%">
    <app-toolbar
      [toolbarState]="postToolbarState"
      (homeClickEvent)="openHomePage()"
      (searchClickEvent)="openSearchPage()"
      (newPostClickEvent)="openNewPostPage()"></app-toolbar>
    <div class="content">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': postViewModel.hasBaseDropZoneOver }"
           [uploader]="uploader"
           (fileOver)="fileOverBase($event)"
           class="well drop-zone">
        <div class="drop-zone-empty" *ngIf="!postViewModel.filePreviewPath">
          <mat-icon matPrefix class="drop-icon" (click)="openFileUpload()">file_upload</mat-icon>
          <span class="drop-text">Arraste um arquivo aqui</span>
          <span class="drop-subtext">ou clique no ícone</span>
        </div>
        <div class="drop-zone-frame" *ngIf="postViewModel.filePreviewPath">
          <img [src]="postViewModel.filePreviewPath" class="drop-zone-image"/>
        </div>
      </div>
      <quill-editor [options]="editorOptions"
                    (ready)="onEditorCreated($event)">
      </quill-editor>
      <div class="postActions">
        <button class="saveButton" mat-raised-button color="primary">Postar</button>
      </div>
    </div>
  </div>
</div>
