<div class="pageContent" fxLayout="row">
  <div class="leftSideBar">
    <app-left-sidebar
      [username]="postViewModel.username"
      [levelCompleted]="postViewModel.levelCompleted"
      [levelName]="postViewModel.levelName"
      [profileImage]="postViewModel.profileImage"
      [rewards]="postViewModel.rewards"
      (onProfileClick)="openProfilePage()"
      (onFavoritesClick)="openFavoritesPage()"
      (onSettingsClick)="openSettingsPage()"
      (onLogoutClick)="logout()"
    >
    </app-left-sidebar>
  </div>
  <div class="pageCenter">
    <app-toolbar
      [toolbarState]="postViewModel.postToolbarState"
      (homeClickEvent)="openHomePage()"
      (searchClickEvent)="openSearchPage()"
      (newPostClickEvent)="openNewPostPage()"></app-toolbar>
    <div class="content">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': postViewModel.hasBaseDropZoneOver }"
           [uploader]="postViewModel.uploader"
           (fileOver)="fileOverBase($event)"
           class="well drop-zone">
        <div class="drop-zone-empty {{ !postViewModel.filePreviewPath ? 'cVisible' : 'cGone'}}">
          <input id="fileToUpload" type="file" ng2FileSelect [uploader]="postViewModel.uploader" style="display:none;">
          <mat-icon class="drop-icon">panorama</mat-icon>
          <span class="drop-text">Esta é a capa do seu post</span>
          <span class="drop-subtext">Arraste um arquivo aqui ou clique no botão</span>
        </div>
        <div class="drop-zone-frame" *ngIf="postViewModel.filePreviewPath">
          <img [src]="postViewModel.filePreviewPath" class="drop-zone-image"/>
        </div>
        <div class="fabColumn">
          <button mat-fab
                  class="fabUpload"
                  onclick="document.getElementById('fileToUpload').click()"
                  matTooltip="Adicionar capa">
            <mat-icon>file_upload</mat-icon>
          </button>
        </div>
      </div>
      <div class="postTitleBox">
        <input matInput class="postTitle" id="postTitleInput" (change)="onTitleChanged($event)"
               placeholder="Insira um título pra seu post"/>
      </div>
      <div class="postTagsBox">
        <mat-form-field class="postTagsField">
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let tag of postViewModel.tags"
              [selectable]="postViewModel.tagsSelectable"
              [removable]="postViewModel.tagsRemovable"
              (remove)="remove(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="postViewModel.tagsRemovable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Tags"
              #tagInput
              [formControl]="postViewModel.tagsFormCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="postViewModel.tagsSeparatorKeysCodes"
              [matChipInputAddOnBlur]="postViewModel.tagsAddOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of postViewModel.tagsFiltered | async" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="postContentBox">
        <quill-editor [options]="postViewModel.editorOptions"
                      (ready)="onEditorCreated($event)"
                      (change)="onContentChanged($event)">
        </quill-editor>
      </div>
      <div class="postActions">
        <button class="saveButton" mat-raised-button color="primary" (click)="savePost()">Postar</button>
      </div>
    </div>
  </div>
</div>
