.cardStatus {
  display: flex;
  align-items: center;
}

.cardStatus mat-icon {
  padding: 0.2em;
}

.cardDate {
  color: rgba(0, 0, 0, .54);
  font-size: 0.8vw;
  align-self: center;
}

mat-card-content {
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-card {
  margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
  mat-card {
    width: 7em;
    margin: 0.5em;
  }

  .cardDate {
    font-size: 3vw;
  }

  .cardStatus {
    font-size: 3vw;
  }

  .mat-icon {
    font-size: 3vw;
    text-align: center;
  }
}
