.cardStatus{
    display: flex;
    align-items: center;
}

.cardStatus mat-icon{
    padding: 0.2em;
}

.cardDate{
    color: rgba(0,0,0,.54);
    font-size: 12px;
    align-self: center;
}

mat-card-actions{
    justify-content: space-between;
}

mat-card{
    width: 20%;
}