.matDialogPasswordForm {
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.form-change-password input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
  color: #3A3F44;
}

.form-change-password input[type="submit"] {
  background-color: #3f51b5;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

.form-change-password input[type="submit"]:focus, .form-change-password input[type="submit"]:hover {
  background-color: #313e8c;
}

.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: center;
}


.errorMessages {
  margin-top: 2em;
  height: 2em;
}

.errorMessagesList {
  justify-content: center;
}

.errorMessagesChip {
  margin: 0.5em;
  justify-content: center;
  white-space: nowrap;
}

.mat-chip-list-wrapper {
  justify-content: center !important;
}


.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
