<div class="pageContent" fxLayout="row">
  <div class="leftSideBar" fxLayout="column" fxFlex="16%" color="primary">
      <app-left-sidebar></app-left-sidebar>
  </div>
  <div class="pageCenter" fxLayout="column" fxFlex="84%">
      <app-toolbar></app-toolbar>
      <div class="content">
        <app-topic-articles></app-topic-articles>
        <app-topic-articles></app-topic-articles>
        <app-topic-articles></app-topic-articles>
        <app-topic-articles></app-topic-articles>
      </div>
  </div>
  <div class="rightSideBar">
    
  </div>
</div>