<div class="pageContent" fxLayout="row">
  <div class="leftSideBar">
    <app-left-sidebar
      [username]="viewPostViewModel.username"
      [levelCompleted]="viewPostViewModel.levelCompleted"
      [levelName]="viewPostViewModel.levelName"
      [profileImage]="viewPostViewModel.profileImage"
      [rewards]="viewPostViewModel.rewards"
      (onProfileClick)="openProfilePage()"
      (onFavoritesClick)="openFavoritesPage()"
      (onSettingsClick)="openSettingsPage()"
      (onLogoutClick)="logout()"
    >
    </app-left-sidebar>
  </div>
  <div class="pageCenter">
    <app-toolbar
      [toolbarState]="viewPostViewModel.postToolbarState"
      (searchInputEvent)="onSearchInput($event)"
      (homeClickEvent)="openHomePage()"
      (searchClickEvent)="openSearchPage()"
      (newPostClickEvent)="openNewPostPage()"></app-toolbar>
    <div class="content">
      <div class="post-header-image">
        <div class="post-header-frame">
          <img src={{viewPostViewModel.postImageUrl}} class="post-image"/>
        </div>
      </div>
      <div class="postTitleBox">
        <div class="postTitle">
          {{viewPostViewModel.title}}
        </div>
        <div class="postReadTime">
          (Leitura de {{viewPostViewModel.estimatedMinutes}} min)
        </div>
        <div class="postOwner">
          Por <a class="postOwnerLink" href="{{viewPostViewModel.postOwner}}/profile">{{viewPostViewModel.postOwner}}</a>
        </div>
      </div>
      <div class="postTagsBox">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let tag of viewPostViewModel.tags">
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="postContentBox" [innerHTML]="viewPostViewModel.postHtmlText">
      </div>
      <mat-divider></mat-divider>
      <div class="postComments">
        <h3>Comentários</h3>
        <div *ngFor="let index of viewPostViewModel.commentsIndexes">
          <user-comment
            [avatar]="viewPostViewModel.postComments[index].authorAvatar"
            [text]="viewPostViewModel.postComments[index].text"
            [date]="viewPostViewModel.postComments[index].date"
            [username]="viewPostViewModel.postComments[index].authorName"
          ></user-comment>
        </div>
      </div>
      <mat-card class="newComment">
        <!--<mat-card-header>-->
          <mat-form-field color="accent" class="newCommentForm">
            <mat-label>Escreva um comentário ...</mat-label>
            <textarea autosize matInput
                      #newCommentText
                      value="{{viewPostViewModel.userComment}}"
                      (focusout)="saveComment(newCommentText.value)"
                      id="newCommentText"></textarea>
          </mat-form-field>
        <button mat-raised-button
                color="primary"
                (click)="onSendCommentClick()">
          Enviar
        </button>
        <!--</mat-card-header>-->
      </mat-card>
    </div>
  </div>
</div>
