<div
  *ngIf="authViewModel.state != thisState.DONE"
  class="overflowContent" fxLayout="column">
  <mat-spinner
    class="loading"
    [mode]="indeterminate">
  </mat-spinner>
</div>
<div id="contentDiv" *ngIf="authViewModel.state != thisState.LOADING_STATE">
  <app-home *ngIf="authViewModel.logged"
            (screenStateChange)="updateScreenState($event)"
            (authStateLogged)="updateLoggedStatus($event)"></app-home>
  <app-login *ngIf="!authViewModel.logged"
             (screenStateChange)="updateScreenState($event)"
             (authStateLogged)="updateLoggedStatus($event)"></app-login>
</div>
