.leftSideContent{
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex: 1 auto;
  align-items: center;
}

.profilePic{
  display: flex;
  border-radius: 50%;
  margin: 1em;
  max-width: 90%;
}

.rewardsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.chipIcon{
  border-radius: 50%;
  margin: 0.3em;
  width: 1.5em;
  height: 1.5em;
}

.userProgress{
  display: flex;
  width: 8em;
  max-width: 90%;
  margin: 2%;
}

.chipLevel{
  display: flex;
  max-width: 90%;
  min-width: 0;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listMenu{
  max-width: 90%;
}

.listMenuItem{
  align-items: center;
}

.listMenu mat-icon{
  margin: 0.2em
}

mat-grid-tile {
  background: lightblue;
}

.menuText {
  font-size: 0.8rem;
}
