.topBar{
  z-index: 2;
  background: whitesmoke;
  padding: 1%;
  color: white;
  font-weight: bold;
  flex: 100%;
}

.searchInput{
  margin-top: 1em;
  margin-bottom: .0em;
  flex: 1 1 100%;
}

#searchAll{
  color: black;
}

.bar-button {
  color: #3A3F44;
  margin: 0.6em;
}

@media screen and (max-width: 445px) {
  .searchInput {
    visibility: collapse;
    flex: 0.1;
  }
}
