<div class="pageContent" fxLayout="column">
  <div class="logo">Motiva</div>
  <div class="login-item">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="form form-login">
      <div class="form-field">
        <label class="user" for="login-username"><span class="hidden">Usuário</span></label>
        <input name="username" id="login-username" type="text"
               [(ngModel)]="loginModel.username" #username="ngModel"
               class="form-input" placeholder="Usuário" required
        >
      </div>

      <div class="form-field">
        <label class="lock" for="login-password"><span class="hidden">Senha</span></label>
        <input name="password" id="login-password" type="password"
               [(ngModel)]="loginModel.password" #password="ngModel"
               class="form-input" placeholder="Senha"  required minlength="6">
      </div>

      <div *ngIf="form.submitted && (form.controls.username?.invalid || form.controls.password?.invalid)"
            class="alert alert-danger">
        <div *ngIf="form.controls.username?.errors?.required">
          Usuário é obrigatório.
        </div>
        <div *ngIf="form.controls.password?.errors?.required">
          Senha é obrigatória.
        </div>
        <div *ngIf="form.controls.password?.errors?.minlength">
          A senha deve ter pelo menos 6 caracteres.
        </div>

      </div>

      <div class="form-field">
        <input type="submit" value="Entrar">
      </div>
    </form>
  </div>
</div>
